<div ng-include="GLOBAL_CONFIG.app.modules.roleLabels.urls.partials+'roleLabels-actions.html'" ng-controller="roleLabelsMainCtrl"></div>
<form name="roleLabelEditForm"  class="form" role="form" ng-submit="update(roleLabelEditForm)">
    <div>
        <label for="inputLabel">Label</label>
        <input type="text" class="form-control" id="inputLabel" required placeholder="{{roleLabel.label}}" ng-model="roleLabel.label">
    </div>
    <div >
        <label for="inputAbstract">Abstract</label>
        <input type="textarea " class="form-control" id="inputAbstract" placeholder="{{roleLabel.abstract}}" ng-model="roleLabel.abstract">
    </div>
    <div >
        <label for="inputUrl">Url</label>
        <input type="text " class="form-control" id="inputUrl" placeholder="{{roleLabel.url}}" ng-model="roleLabel.url">
    </div>
    <div >
        <label for="inputPublisher">Publisher</label>
        <input type="text " class="form-control" id="inputPublisher" placeholder="Publisher" ng-model="roleLabel.publisher">
    </div>
    <div >
        <label for="inputPublishDate">Publish Date</label>
        <input type="text " class="form-control" id="inputPublishDate" placeholder="{{roleLabel.publishDate}}" ng-model="roleLabel.publishDate">
    </div>
    <div>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>