<div ng-include="GLOBAL_CONFIG.app.modules.roleLabels.urls.partials+'roleLabels-actions.html'" ng-controller="roleLabelsMainCtrl"></div>
<form name="roleLabelNewForm"   class="form" role="form" ng-submit="create(roleLabelNewForm)">
    <div>
        <label for="inputLabel">Label</label>
        <input type="text" class="form-control" id="inputLabel" required placeholder="label" ng-model="roleLabel.label">
    </div>
    <div >
        <label for="inputAbstract">Abstract</label>
        <input type="textarea " class="form-control" id="inputAbstract" placeholder="abstract" ng-model="roleLabel.abstract">
    </div>
    <div >
        <label for="inputUrl">Url</label>
        <input type="text " class="form-control" id="inputUrl" placeholder="url" ng-model="roleLabel.url">
    </div>
    <div >
        <label for="inputPublisher">Publisher</label>
        <input type="text " class="form-control" id="inputPublisher" placeholder="Publisher" ng-model="roleLabel.publisher">
    </div>
    <div >
        <label for="inputPublishDate">Publish Date</label>
        <input type="text " class="form-control" id="inputPublishDate" placeholder="publish Date" ng-model="roleLabel.publishDate">
    </div>
  <div class="form-group">
      <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>