<div ng-include="GLOBAL_CONFIG.app.modules.events.urls.partials+'events-actions.html'" ng-controller="eventsMainCtrl"></div>

<form name="eventEditForm" class="form" role="form" ng-submit="update(eventEditForm)">
  <h2>General informations</h2>

  <div class="well">
    <div>
      <label for="inputName">Label</label>
      <input type="text" class="form-control" id="label" required placeholder="{{event.label}}" ng-model="event.label">
    </div>
    <div>
      <label for="inputDescription">Description</label>
      <input type="text " class="form-control" id="inputDescription" placeholder="{{event.description}}" ng-model="event.description">
    </div>
    <div>
      <label for="inputUrl">Url</label>
      <input type="text " class="form-control" id="inputUrl" placeholder="{{event.url}}" ng-model="event.url">
    </div>
  </div>
  <h2>Time & localization</h2>

  <div class="well">
    <div>
      <label for="inputEnd">End at</label>

      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0)">
          <input type="text" class="form-control" id="inputStart" name="inputStart" placeholder="Start at" ng-model="event.startAt">
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="event.startAt" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
        </ul>
      </div>
      <div class="alert alert-danger" role="alert" ng-show="eventNewForm.eventStart.$dirty && eventNewForm.eventStart > eventNewForm.eventEnd">
        The start date must be before the end date
      </div>
    </div>
    <div>
      <label for="inputEnd">End at</label>

      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0)">
          <input type="text" class="form-control" id="inputEnd" name="inputEnd" placeholder="End at" ng-model="event.endAt">
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="event.endAt" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
        </ul>
      </div>
      <div class="alert alert-danger" role="alert" ng-show="eventNewForm.eventStart.$dirty && eventNewForm.eventEnd < eventNewForm.eventStart ">
        The end date must be after the start date
      </div>
    </div>

    <div>
      <label for="inputLocation">Location</label>

      <div class="dropdown" ng-model="event.location">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Add a location
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation" tabindex="-1" ng-repeat="location in currentConference.locations  track by $index" ng-click="addLocation($index, location)">
            <a role="menuitem" tabindex="-1" href="javascript:void(0)"> {{ location.label }}</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" tabindex="-1">
            <a role="button" class="btn btn-info" tabindex="-1" href="javascript:void(0)" ng-click="createLocationModal()">New location</a>
          </li>
        </ul>
        <ul>
          <li ng-repeat="location in event.locations  track by $index">{{ location.label }}
            <button class="btn btn-danger" data-ng-click="deleteLocation($index)" role="button">
              <i class="fa fa-trash-o fa-1x"></i></button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h2>Participants</h2>

  <div class="well">

  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
  </div>
</form>