<div ng-include="GLOBAL_CONFIG.app.modules.events.urls.partials+'events-actions.html'" ng-controller="eventsMainCtrl"></div>
<form name="eventNewForm"   class="form" role="form" ng-submit="create(eventNewForm)">
  <div>
    <label for="inputName">Label</label>
      <input type="text" class="form-control" id="label" required placeholder="Label" ng-model="event.label">
  </div>
  <div >
     <label for="inputDescription">Description</label>
     <input type="text " class="form-control" id="inputDescription" placeholder="Description" ng-model="event.description">
  </div>
   <div >
      <label for="inputUrl">Url</label>
      <input type="text " class="form-control" id="inputUrl" placeholder="Url" ng-model="event.url">
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>