<div ng-include="GLOBAL_CONFIG.app.modules.events.urls.partials+'events-actions.html'" ng-controller="eventsMainCtrl"></div>
<form name="eventEditForm"  class="form" role="form" ng-submit="update(eventEditForm)">
    <div>
        <label for="inputName">Label</label>
        <input type="text" class="form-control" id="label" required placeholder="{{event.label}}" ng-model="event.label">
    </div>
    <div >
        <label for="inputHomepage">Website</label>
        <input type="text " class="form-control" id="inputWebsite" placeholder="{{event.additional_information.website}}" ng-model="event.additional_information.website">
    </div>
    <div class="form-group">
        <label for="inputCountry">Country</label>
        <input type="text " class="form-control" id="inputCountry" placeholder="{{event.additional_information.country}}" ng-model="event.additional_information.country">
    </div>
    <div class="form-group">
        <label for="inputImg">Image</label>
        <input type="text " class="form-control" id="inputCountry" placeholder="{{event.additional_information.img}}" ng-model="event.additional_information.img">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>