# intellij files
*.iml
.idea

#composer
composer.lock

#mobile app
src/fibe/MobileAppBundle/Resources/public/mobileApp/*

# Symfony directories
*/logs/*
app/cache/*
*/cache/*
web/uploads/*
#keep the logo ;)
!web/uploads/livecon.png
vendor/*
web/bundles/*

# Symfony files
app/config/parameters.yml
app/bootstrap.php.cache

# gedit temp file
*~
