<div ng-include="GLOBAL_CONFIG.app.modules.locations.urls.partials+'locations-actions.html'" ng-controller="locationsMainCtrl"></div>
<form name="locationNewForm"   class="form" role="form" ng-submit="create(locationNewForm)">
    <div>
        <label for="inputLabel">Label</label>
        <input type="text" class="form-control" id="inputLabel" required placeholder="label" ng-model="location.label">
    </div>
    <div >
        <label for="inputCapacity">Capacity</label>
        <input type="integer" class="form-control" id="inputCapacity" placeholder="Capacity" ng-model="location.capacity">
    </div>
    <div >
        <label for="inputDescription">Description</label>
        <input type="text " class="form-control" id="inputDescription" placeholder="Description" ng-model="location.description">
    </div>
    <div >
        <label for="inputLatitude">Latitude</label>
        <input type="text" class="form-control" id="inputLatitude" placeholder="Latitude" ng-model="location.latitude">
    </div>
    <div >
        <label for="inputLongitude">Longitude</label>
        <input type="text " class="form-control" id="inputLongitude" placeholder="Longitude" ng-model="location.longitude">
    </div>
  <div class="form-group">
      <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>