<div ng-include="GLOBAL_CONFIG.app.modules.persons.urls.partials+'persons-actions.html'" ng-controller="personsMainCtrl"></div>
<form name="personEditForm"  class="form" role="form" ng-submit="update(personEditForm)">
    <div>
        <label for="inputName">Label</label>
        <input type="text" class="form-control" id="label" required placeholder="{{person.label}}" ng-model="person.label">
    </div>
    <div >
        <label for="inputHomepage">Website</label>
        <input type="text " class="form-control" id="inputWebsite" placeholder="{{person.additionalInformation.website}}" ng-model="person.additionalInformation.website">
    </div>
    <div >
        <label for="inputFirstname">First name</label>
        <input type="text " class="form-control" id="inputFirstname" placeholder="Firstname" ng-model="person.firstName">
    </div>
    <div >
        <label for="inputFamilyname">Family name</label>
        <input type="text " class="form-control" id="inputFamilyname" placeholder="Firstname" ng-model="person.familyName">
    </div>
    <div >
        <label for="inputCountry">Country</label>
        <input type="text " class="form-control" id="inputCountry" placeholder="{{person.additionalInformation.country}}" ng-model="person.additionalInformation.country">
    </div>
    <div>
        <label for="inputImg">Image</label>
        <input type="text " class="form-control" id="inputCountry" placeholder="{{person.additionalInformation.img}}" ng-model="person.additionalInformation.img">
    </div>
    <div>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>