<div ng-include="GLOBAL_CONFIG.app.modules.persons.urls.partials+'persons-actions.html'" ng-controller="personsMainCtrl"></div>
<input type="text" class="form-control" placeholder="Search" ng-change="load(query)" ng-model="query">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Label</th>
      <th>website</th>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody infinite-scroll='load(query)' infinite-scroll-disabled='busy' infinite-scroll-distance='0.5'>
      <tr ng-repeat="person in persons  track by $index">
          <td>{{ person.label }}</td>
          <td>{{ person.additionalInformation.website }}</td>
          <td>{{ person.additionalInformation.country }}</td>
          <td>
              <a class="btn btn-warning" href="#persons/edit/{{ person.id }}" role="button"><i class="fa fa-edit fa-1x"></i></a>
              <a class="btn btn-default" href="#persons/show/{{ person.id }}" role="button"><i class="fa fa-eye fa-1x"></i></a>
              <a class="btn btn-primary" href="" data-ng-click="clone(person)" role="button"><i class="fa fa-files-o fa-1x"></i></a>
              <button class="btn btn-danger" data-ng-click="deleteModal($index, person)" role="button"><i class="fa fa-trash-o fa-1x"></i></button>
          </td>
      </tr>
  </tbody>
</table>




