<div ng-include="GLOBAL_CONFIG.app.modules.persons.urls.partials+'persons-actions.html'" ng-controller="personsMainCtrl"></div>
<form name="personNewForm" class="form" role="form" ng-submit="create(personNewForm)">
  <div>
    <label for="inputName">Label</label>
    <input type="text" class="form-control" id="label" required placeholder="Label" ng-model="person.label">
  </div>
  <div>
    <label for="inputFirstname">First name</label>
    <input type="text" class="form-control" id="inputFirstname" placeholder="Firstname" ng-model="person.firstName">
  </div>
  <div>
    <label for="inputFamilyname">Family name</label>
    <input type="text" class="form-control" id="inputFamilyname" placeholder="Firstname" ng-model="person.familyName">
  </div>
  <div>
    <label for="inputHomepage">Website</label>
    <input type="text" class="form-control" id="inputWebsite" placeholder="Website" ng-model="person.additionalInformation.website">
  </div>
  <div class="form-group">
    <label for="inputCountry">Country</label>
    <input type="text" class="form-control" id="inputCountry" placeholder="Country" ng-model="person.additionalInformation.country">
  </div>
  <div class="form-group">
    <label for="inputImg">Image</label>
    <input type="text" class="form-control" id="inputImg" placeholder="Image link" ng-model="person.additionalInformation.img">
  </div>
  <div get-or-create parent-entity="person" entity="organization"></div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>