<form name="organizationNewForm"   class="form" role="form" ng-submit="create(organizationNewForm)">
  <div>
    <label for="inputName" class="col-sm-2 control-label">Label</label>
      <input type="text" class="form-control" id="label" required placeholder="Label" ng-model="organization.label">
  </div>
   <div >
    <label for="inputHomepage" class="col-sm-2 control-label">Homepage</label>
      <input type="text " class="form-control" id="inputHomepage" placeholder="Homepage" ng-model="organization.homepage">
  </div>
  <div class="form-group">
    <label for="inputCountry" class="col-sm-2 control-label">Country</label>
    <input type="text " class="form-control" id="inputCountry" placeholder="Country" ng-model="organization.country">
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>