<div class="navbar navbar-default navbar-fixed-top" role="navigation">

      <div class="navbar-header">
          <a  href="#" title="Go back to Index"  style="float:left"> <img style="height:45px; width:auto;" src="{{GLOBAL_CONFIG.app.urls.img+'livecon.png'}}"/></a>

          <div style="float:left">
              <a  id="sidebar-left-toggle" ng-click="toggleNavLeft()" class="btn btn-info" data-toggle="offcanvas" data-target=".sidebar-nav">
                  <i class="fa fa-bars fa-1x"></i>
              </a>
          </div>

      </div>


    <ul class="nav navbar-nav navbar-right">
        <li>
            <a  href="#signout" title="logout" ng-click="signout()"  ng-if="currentUser.id">Logout</a>
        </li>

        <li>
            <a    href="#profile" title="profile"  ng-if="currentUser.id">{{currentUser.username}}</a>
        </li>

        <li>
            <a  href="#signin" title="login"  ng-if="currentUser.id == null">login</a>
        </li>

        <li>
            <a   href="#signup" title="login" ng-if="currentUser.id == null">register</a>
        </li>
        <!-- <li>
            <a id="sidebar-right-toggle"  class="btn btn-info" data-toggle="offcanvas" data-target=".sidebar-nav">
                <i class="fa fa-user fa-1x"></i>
            </a>
        </li>-->
        <li ng-repeat="local in locals">
            <a href=""  ng-click="changeLocal(local)"><img ng-src="{{ local.src }}" /></a>
        </li>


    </ul>

  </div>