<div ng-include="GLOBAL_CONFIG.app.modules.organizations.urls.partials+'organizations-actions.html'" ng-controller="organizationsMainCtrl"></div>
<form name="organizationEditForm"  class="form" role="form" ng-submit="update(organizationEditForm)">
    <div>
        <label for="inputName">Label</label>
        <input type="text" class="form-control" id="label" required placeholder="{{organization.label}}" ng-model="organization.label">
    </div>
    <div >
        <label for="inputHomepage">Website</label>
        <input type="text " class="form-control" id="inputWebsite" placeholder="{{organization.additionalInformation.website}}" ng-model="organization.additionalInformation.website">
    </div>
    <div class="form-group">
        <label for="inputCountry">Country</label>
        <input type="text " class="form-control" id="inputCountry" placeholder="{{organization.additionalInformation.country}}" ng-model="organization.additionalInformation.country">
    </div>
    <div class="form-group">
        <label for="inputImg">Image</label>
        <input type="text " class="form-control" id="inputCountry" placeholder="{{organization.additionalInformation.img}}" ng-model="organization.additionalInformation.img">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>